<% include ./partials/header %>
<h2>Statement: <%= statement %> </h2>
<% if (voted) { %>
  <p>You voted for answer <%= voted %> </p> 
<% } %>
<% if (closing) { %>
  <p>Poll is closed now</p> 
<% } %>
<h3>Answer 1: <%= answer1 %> </h3>
<p>votes: <%= votes1 %> </p>
<h3>Answer 2: <%= answer2 %> </h3>
<p>votes: <%= votes2 %> </p>
<h3>Answer 3: <%= answer3 %> </h3>
<p>votes: <%= votes3 %> </p>

<% if (refreshUrl) { %>
  <a href="<%= refreshUrl %> "><button>Refresh</button></a>
<% } %>

<% include ./partials/footer %> 


<!-- 
title: `Results for ${code}`,
code: poll.code,
statement: poll.statement,
answer1: poll.answer1.value,
votes1: poll.answer1.votes,
answer2: poll.answer2.value,
votes2: poll.answer2.votes,
answer3: poll.answer3.value,
votes3: poll.answer3.votes
-->