<% include ./partials/header %> 
  <h2>Poll <%= code %> </h2>
  <h3><%= statement %></h3>
  <ul>
    <a href="vote"><li><button><%= answer1 %></button></li></a>
    <a href="vote"></a><li><button><%= answer2 %></button></li></a>
    <a href="vote"></a><li><button><%= answer3 %></button></li></a>
  </ul>
<% include ./partials/footer %> 